* {
    margin: 0;
    padding: 0;
}

/* to remove the top and left whitespace */

html, body {
    width: 100%;
    height: 100%;
    /*background-color: #D1CCB8*/
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
}

/* just to be sure these are full screen*/

canvas {
    display: block;
}

#loading-spinner {
    min-height: 400px;
}

#loading-spinner .center-align {
    margin-left: auto;
    margin-right: auto;
}

#data-screen .tabs .indicator {
    background-color: #3e2723;
}